{
    margin: 10px;
}
body{
    background-color: black;
}
#home{
    background-color:#483355;
    margin-left: -.5cm;
    margin-right: -.5cm;
    margin-top: -1cm;
    padding-bottom: 2cm;
    padding-top: 2cm;
}
header{
    font-size: 30px;
    color: lightgray;
    float:left;
    padding-left: 2cm;
}
.topdiv{
    float: right;
    padding-right: 2cm;
}
.topmenu{
    
    color: lightgrey;
    background-color: #483355;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration:none;
    
}
.topmenu:hover{
    color: white;
    font-weight: bolder;
    background-color: purple;
    text-decoration: underline;
}
#all-conversion-sections{
    justify-content: center;
    display: grid;
}
figure{
    float: left;x
    justify-self: auto;
    width: 200px;
}
image{
    width:200px;
}
figcaption{
    color: black;
    font-size: 17px;
    text-align: center;
}
button{
    font-size: 20px;
    border: transparent;
    border-radius: 40px;
    width: fit-content;
    background-color: lightgreen;
    padding-left: 15px;
    padding-right: 15px;
}
button:hover{
    cursor: pointer;
}
.b{
    border-top: solid;
    border-top: 20px;
    border-radius: 10px;    
    background-color: white;
    width: 600px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flexbox;
}
.temperature{
    border-top: green;  
}
.weight{
    border-top: coral;
}
.distance{
    border-top: cyan;
}
.legend{
    font-size: 30px;
    font-weight: bolder;
}
.iconbutton{
    width: 40px;
    height: 40px;
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    background-color: green;
    display: flex;
    position: fixed;
    left:0;
    bottom: 10px;
}
.iconbutton img{
    width: 30px;
}